[phases.setup]
nixPkgs = ["python311", "openssl", "libatomic_ops"]

[phases.install]
cmds = ["python3 -m pip install -r backend/requirements.txt"]

[phases.build]
cmds = ["python3 -m prisma generate --schema=backend/schema.prisma"]

[start]
cmd = "python3 backend/main.py"
